img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

*,
p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;

}

@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/6xKtdSZaM9iE8KbpRA_hK1QN.woff2');
}

html {
    height: 100%;
}

body {
    font-family: 'Quicksand', sans-serif;
    height: 100%;
    position: relative;
}