.header-search {
    border-color: #679210;
}

.header-control {
    color: #fff;
}

.header-control .hotline {
    background-color: #679210;
}


.header-control-icon {
    background-color: #679210;
    color: #fff;
}